:root {
}

* {
  margin: 0;
  padding: 0;
}

#app {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #82a4e3; 
  
  
}
